<!DOCTYPE html>
<html>
  <head>
    <title>Blog | <%= title %></title>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/header'); %>
    <h1><%= title %></h1>
    <%- include('./partials/login_form'); %>
    <%- include('./partials/footer'); %>
  </body>
</html>
